target
.project
.classpath
.settings
*.iml
*.log
*.ipr
*.iws
**/.classpath
**/*.log
**/target
**/.project
**/.settings
**/*.iml
**/*.ipr
**/**/.classpath
**/**/*.log
**/*.iws
**/**/target
**/**/.project
**/**/.settings
**/**/*.iml
**/**/*.ipr
**/**/*.iws

